* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: #3C3B3B;
    color: #fff;
    padding: 1rem;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60px;
    padding: 16px;
    margin-left: 17px;
    font-size: 20px;
}

.sidebar-menu {
    padding: 1rem;
    transition: 0.5s;
    transition-property: background;
}

.sidebar-menu a:hover {
    background: #19B3D3;
}

.sidebar li {
    margin-bottom: 1.2rem;
}

.sidebar a {
    color: #fff;
    font-size: 15px;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 7px;
    box-sizing: border-box;
    align-content: center;
}

.sidebar a span:last-child {
    padding: .6rem;
}

.sidebar .send-btn {
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

#form .send-btn:hover{
    background: #0582E3;
}
