body {
    background: #9fa5ab;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 70%;
    height: 32%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.title {
    background: #f3f4f8;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.choose_file {
    display: block;
    border: 2px dashed #8178d3;
    padding: 15px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.wrapper .btn {
    background: #2E94E3;
    color: #fff;
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.btn:hover{
    background: #0582E3;
}
